<%
import re

h2 = 'style="font-size: 1rem; margin-top: 0; margin-bottom: 4px; color: #505050;"'
h3 = 'style="font-size: 1rem; margin-top: 10px; margin-bottom: 12px"'
h4 = 'style="font-size: 0.9rem; margin-bottom: 12px;"'
p = 'style="margin-top: 0; margin-bottom: 8px; font-size: 0.9rem;"'

def humanize(value, fraction_point=1):
    if value != '':
        if value == 0:
            return '0'
        end
        powers = [10 ** x for x in (12, 9, 6, 3, 0)]
        human_powers = ('T', 'B', 'M', 'K', '')
        is_negative = False
        if not isinstance(value, float):
            value = float(value)
        end
        if value < 0:
            is_negative = True
            value = abs(value)
        end
        for i, p in enumerate(powers):
            if value >= p:
                return_value = str(round(value / (p / (10.0 ** fraction_point)))
                                   / (10 ** fraction_point)) + human_powers[i]
                break
            end
        end
        if is_negative:
            return_value = "-" + return_value
        end
        # remove pesky situation where xXX.0 occurs
        # return_value = return_value.replace('.0', '')
        # print("Return value is: ", return_value)
        return_value = re.sub(r'.0$', '', return_value)
        return return_value.replace('.0K', 'K')
    else:
        return '0'
    end
end
%>

<div style="font-family: sans-serif;">
    <h2 {{!h2}}>TRAFFIC PRIMER</h2>
    <p {{!p}}>Traffic is described by 5 categories: 4 external (social, search, direct, other) and internal.</p>
    <p {{!p}}><strong> Internal</strong>: Usually from home page to article, though also from article to article via related links, most read etc.</p>
    <p {{!p}}><strong>Search</strong>: Google overwhelmingly, though also Bing, Yahoo, DuckDuckGo.</p>
    <p {{!p}}><strong>Social</strong>: Networks such as Facebook, Twitter, Pinterest, LinkedIn, Reddit etc. Users supply most of the links.</p>
    <p {{!p}}><strong>Direct</strong>: We don’t know how users got here because the source doesn’t provide the information.<br />
    If talking about <em>site</em> traffic, it mostly means people who type ‘thespec.com’ in the browser or have bookmarked the site. <br />
    If talking about <em>article</em> traffic, the user likely didn't type in the full URL, but came from a newsletter email, texting app or some other app such as Reddit's or Facebook Messenger.<br />
    </p>
    <p {{!p}}><strong>Other</strong>: Curation services such as Google News, Apple News, Flipboard, SmartNews etc.</p>
</div>
</body>
</html>