    <hr />
    <h3 style="font-size: 16px;">TRAFFIC PRIMER</h3>
    <p>Traffic is described by 5 categories: 4 external (social, search, direct, other) and internal.</p>
    <ul>
    <li>
    <p><strong>Internal</strong>: Usually from home page to article, though also from article to article via related links, most read etc.</p>
    </li>
    <li>
    <p><strong>Search</strong>: Google overwhelmingly, though also Bing, Yahoo, DuckDuckGo.</p>
    </li>
    <li>
    <p><strong>Social</strong>: Networks such as Facebook, Twitter, Pinterest, LinkedIn, Reddit etc. Users supply most of the links.</p>
    </li>
    <li>
    <p><strong>Direct</strong>: We don’t know how users got there because the source doesn’t provide the information.<br />
    If talking about <em>site</em> traffic, it mostly means people who type ‘thespec.com’ in the browser or have bookmarked the site. <br />
    If talking about <em>article</em> traffic, the user likely didn't type in the full URL, but came from a newsletter email, texting app or some other app such as Reddit's or Facebook Messenger.<br />
    </p>
    </li>
    <li><strong>Other</strong>: Curation services such as Google News, Apple News, Flipboard, SmartNews etc.</li>
    </ul>
</body>
</html>