<%
import re

def humanize(value, fraction_point=1):
    if value != '':
        if value == 0:
            return '0'
        end
        powers = [10 ** x for x in (12, 9, 6, 3, 0)]
        human_powers = ('T', 'B', 'M', 'K', '')
        is_negative = False
        if not isinstance(value, float):
            value = float(value)
        end
        if value < 0:
            is_negative = True
            value = abs(value)
        end
        for i, p in enumerate(powers):
            if value >= p:
                return_value = str(round(value / (p / (10.0 ** fraction_point)))
                                   / (10 ** fraction_point)) + human_powers[i]
                break
            end
        end
        if is_negative:
            return_value = "-" + return_value
        end
        # remove pesky situation where xXX.0 occurs
        # return_value = return_value.replace('.0', '')
        # print("Return value is: ", return_value)
        return_value = re.sub(r'.0$', '', return_value)
        return return_value.replace('.0K', 'K')
    else:
        return '0'
    end
end


style = {
    'h2': 'style="font-size: 1rem; margin-top: 0; margin-bottom: 4px; color: #505050;"',
    'h3': 'style="font-size: 1rem; margin-top: 10px; margin-bottom: 12px"',
    'h4': 'style="font-size: 0.9rem; margin-bottom: 12px;"',
    'p': 'style="margin-top: 0; margin-bottom: 8px; font-size: 0.9rem;"',
}

%>

<div style="font-family: sans-serif;">
    <h2 {{!style["h2"]}}>TRAFFIC PRIMER</h2>
    <p {{!style["p"]}}><a target="_blank" href="https://thespec.net/help/primer.html">Defining the terms</a> used to describe traffic to our site.</p>
</div>
</body>
</html>