<%
import re

h3 = 'style="font-size: 16px; margin-top: 10px; margin-bottom: 12px"'
h4 = 'style="font-size: 14px; margin-bottom: 12px;"'
p = 'style="margin-top: 0; margin-bottom: 8px;"'

def humanize(value, fraction_point=1):
    if value != '':
        if value == 0:
            return '0'
        end
        powers = [10 ** x for x in (12, 9, 6, 3, 0)]
        human_powers = ('T', 'B', 'M', 'K', '')
        is_negative = False
        if not isinstance(value, float):
            value = float(value)
        end
        if value < 0:
            is_negative = True
            value = abs(value)
        end
        for i, p in enumerate(powers):
            if value >= p:
                return_value = str(round(value / (p / (10.0 ** fraction_point)))
                                   / (10 ** fraction_point)) + human_powers[i]
                break
            end
        end
        if is_negative:
            return_value = "-" + return_value
        end
        # remove pesky situation where xXX.0 occurs
        # return_value = return_value.replace('.0', '')
        # print("Return value is: ", return_value)
        return_value = re.sub(r'.0$', '', return_value)
        return return_value.replace('.0K', 'K')
    else:
        return '0'
    end
end
%>

<html>
    <head>
        <meta charset="UTF-8">
        <style>
            html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-ms-overflow-style:scrollbar;-webkit-tap-highlight-color:transparent}article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff}h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:16px;}p{margin-top:0;margin-bottom:16px;}dl,ol,ul{margin-top:0;margin-bottom:14px;}li{margin-bottom:16px;}table{display:table;border-collapse:collapse;border-spacing:0;width:100%;}th{text-align: inherit;}p{}
        </style>
    </head>
    <body>
        <h2>{{site.title()}} {{freq}} report</h2>
        <p {{!p}}>PATH TO REGISTRATION: Last 3 clicks in 7 days</p>
        <p {{!p}}>MOST READ BY REGISTERED USERS (page views)</p>