<h3 style="font-size: 16px;">KPI FOR OKR</h3>
<p>
<span style="font-weight: 600;">Return frequency (less than 1 day): {{kpi['freq']}}%</span></br>
Key Result: Maintain recency of visits that come within the day. Higher is better.</br>
KPI/Target level: 28% Spec</br>
Trend: Better than last week.
</p>
<p>
<span style="font-weight: 600;">Page views/visitor/day: {{kpi['pv/v']}} (last 30 days)</span></br>
Key Result: Increase average number of pages consumed by visitors. Higher is better.</br>
KPI/Target level: 2.4 Spec</br>
Trend: xxxx.
</p>
<p>
<span style="font-weight: 600;">Home page bounce rate: 
    {{round(100 - (kpi['hp_posts'] + kpi['hp_section']),1)}}%</span></br>
Key Result: Decrease percentage of visitors to the home page who leave without clicking an article or landing page. Lower is better.</br>
KPI/Target level: Low-30s Spectator/ Record.</br>
Trend: xxxx.
</p>