<%
import re

h3 = 'style="font-size: 16px; margin-top: 10px; margin-bottom: 12px"'
h4 = 'style="font-size: 14px; margin-bottom: 12px;"'
p = 'style="margin-top: 0; margin-bottom: 8px;"'

def humanize(value, fraction_point=1):
    if value != '':
        if value == 0:
            return '0'
        end
        powers = [10 ** x for x in (12, 9, 6, 3, 0)]
        human_powers = ('T', 'B', 'M', 'K', '')
        is_negative = False
        if not isinstance(value, float):
            value = float(value)
        end
        if value < 0:
            is_negative = True
            value = abs(value)
        end
        for i, p in enumerate(powers):
            if value >= p:
                return_value = str(round(value / (p / (10.0 ** fraction_point)))
                                   / (10 ** fraction_point)) + human_powers[i]
                break
            end
        end
        if is_negative:
            return_value = "-" + return_value
        end
        # remove pesky situation where xXX.0 occurs
        # return_value = return_value.replace('.0', '')
        # print("Return value is: ", return_value)
        return_value = re.sub(r'.0$', '', return_value)
        return return_value.replace('.0K', 'K')
    else:
        return '0'
    end
end
%>

<hr>
<h3 {{!h3}}>SITE HIGHLIGHTS:</h3>
<p {{!p}}>
    <span style="font-weight: 600;">Page views</span>: {{humanize(data['Views'])}}, 
    <span style="font-weight: 800;">{{f'''{data['Views vs rm%']:+}'''}}%</span> vs rolling avg.<br />
<span style="font-weight: 600;">Comparison:</span> {{data['Views rank'].replace('1st', '')}}<br />
<span style="font-weight: 600;">Referrers by PV %:</span> {{data['Referrers report']}}<br />
<span style="font-weight: 600;">Devices by PV %:</span> {{data['Devices report']}}
</p>
<p {{!p}}>Key shifts in referral views vs rolling avg: {{!data['Referrers change report']}}</p>
<p><span style="font-weight: 600;">Visitors</span>: {{humanize(data['Visitors'], 0)}}, <span style="font-weight: 800;">{{f'''{data['Visitors vs rm%']:+}'''}}%</span> 
    vs rolling avg, {{data['Returning vis.%']}}% returning.<br />
    <span style="font-weight: 600;">Minutes</span>: {{humanize(data['Engaged minutes'], 0)}}, 
    <span style="font-weight: 800;">{{f'''{data['Engaged minutes vs rm%']:+}'''}}%</span> vs rolling avg. 
</p>
<p {{!p}}><span style="font-weight: 600;">Avg time on site:</span> <span style="font-weight: 800;">{{data['site time']}}</span>, {{f'''{data['site time dec vs rm%']:+}%'''}} vs rolling avg.</p>
<p {{!p}}><span style="font-weight: 600;">New posts:</span> <span style="font-weight: 800;">{{data['New Posts']}}</span>, {{f'''{data['New Posts vs rm%']:+}%'''}} vs. rolling avg.</p>
<h5 style="margin-bottom: 8px;">*Rolling avg. covers past {{period}} {{freq.replace('daily', 'days').replace('weekly', 'weeks').replace('monthly', 'months')}}.</h5>   
