<%
import re

h3 = 'style="font-size: 16px; margin-top: 10px; margin-bottom: 12px"'
h4 = 'style="font-size: 14px; margin-bottom: 12px;"'
p = 'style="margin-top: 0; margin-bottom: 8px;"'

def humanize(value, fraction_point=1):
    if value != '':
        if value == 0:
            return '0'
        end
        powers = [10 ** x for x in (12, 9, 6, 3, 0)]
        human_powers = ('T', 'B', 'M', 'K', '')
        is_negative = False
        if not isinstance(value, float):
            value = float(value)
        end
        if value < 0:
            is_negative = True
            value = abs(value)
        end
        for i, p in enumerate(powers):
            if value >= p:
                return_value = str(round(value / (p / (10.0 ** fraction_point)))
                                   / (10 ** fraction_point)) + human_powers[i]
                break
            end
        end
        if is_negative:
            return_value = "-" + return_value
        end
        # remove pesky situation where xXX.0 occurs
        # return_value = return_value.replace('.0', '')
        # print("Return value is: ", return_value)
        return_value = re.sub(r'.0$', '', return_value)
        return return_value.replace('.0K', 'K')
    else:
        return '0'
    end
end
%>

<hr>
<h3 {{!h3}}>TOP REFERRERS: By views</h3>
<p {{!p}}>Parameters: Traffic to all pages, including articles and landing pages.</p>
<div style="overflow-x:auto;">
<table style="white-space: nowrap; border-collapse: collapse; border-spacing: 0; width: 350px;">
    <thead>
        <tr>
            <th style="font-size: 0.8rem; text-align: left; padding: 6px 4px 6px 0; border-bottom: 1px solid grey;">Domain</th>
            <th style="font-size: 0.8rem; text-align: center; width: 20%; padding: 6px 6px 6px 0; border-bottom: 1px solid grey;">PV</th>
            <th style="font-size: 0.8rem; text-align: center; width: 18%; padding: 6px 8px 6px 0; border-bottom: 1px solid grey;">%</th>
            <th style="font-size: 0.8rem; text-align: left; padding: 6px 0 6px 8px; border-bottom: 1px solid grey;">Type</th>
        </tr>
    </thead>
    <tbody>
        % for item in data['top_referrers']:
        <tr>
            <td style="border: 1px solid #dddddd; font-size: 0.9rem; text-align: left; padding: 6px 4px 6px 0;">{{item['Domain'].replace('.com', '') if item['Domain'] != 0 else ''}}</td>
            <td style="border: 1px solid #dddddd; font-size: 0.9rem; text-align: right; width: 20%; padding: 6px 6px 6px 0;">{{humanize(item['Referred Views'])}}</td>
            <td style="border: 1px solid #dddddd; font-size: 0.9rem; text-align: center; width: 18%; padding: 6px 8px 6px 0;">{{round((item['Referred Views'] / data['pv'])*100,1)}}</td>
            <td style="border: 1px solid #dddddd; font-size: 0.9rem; text-align: left; padding: 6px 0 6px 8px;">{{item['Referrer Type']}}</td>
        </tr>
        % end
    </tbody>
</table>
</div>