<%
import re

h2 = 'style="font-size: 1rem; margin-top: 0; margin-bottom: 4px; color: #505050;"'
h3 = 'style="font-size: 1rem; margin-top: 10px; margin-bottom: 12px"'
h4 = 'style="font-size: 0.9rem; margin-bottom: 12px;"'
p = 'style="margin-top: 0; margin-bottom: 8px; font-size: 0.9rem;"'

def humanize(value, fraction_point=1):
    if value != '':
        if value == 0:
            return '0'
        end
        powers = [10 ** x for x in (12, 9, 6, 3, 0)]
        human_powers = ('T', 'B', 'M', 'K', '')
        is_negative = False
        if not isinstance(value, float):
            value = float(value)
        end
        if value < 0:
            is_negative = True
            value = abs(value)
        end
        for i, p in enumerate(powers):
            if value >= p:
                return_value = str(round(value / (p / (10.0 ** fraction_point)))
                                   / (10 ** fraction_point)) + human_powers[i]
                break
            end
        end
        if is_negative:
            return_value = "-" + return_value
        end
        # remove pesky situation where xXX.0 occurs
        # return_value = return_value.replace('.0', '')
        # print("Return value is: ", return_value)
        return_value = re.sub(r'.0$', '', return_value)
        return return_value.replace('.0K', 'K')
    else:
        return '0'
    end
end
%>

<div style="margin-bottom: 8px; padding-bottom: 8px; border-bottom: 2px solid silver; font-family: sans-serif;">
    % if section != 'time':
    <h2 {{!h2}}>TOP POSTS [ <span style="color: black;">{{section.upper()}}</span> ]: <span style="font-weight: 300;">By views</span></h2>
    % else:
    <h2 {{!h2}}>TOP POSTS: <span style="font-weight: 300;">By avg. engaged time</span></h2>
    <p {{!p}}><small>Parameters: More than {{visitor_limit}} visitors.</small></p>
    % end
    <ol style="padding-left: 28px; list-style-position: outside;">
        % for article in data['the_list']:
        <li style="margin-bottom: 0.5rem; font-size: 0.8rem;"><span style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 1.1rem">{{article['Title']}}</span><br />
        By {{(article['Authors']).title()}} in {{article['Subcategory'].title()}} | {{(article['Publish date']).split(' ')[0]}} | Asset <a href="{{article['URL']}}">{{article['asset id']}}</a><br />
        PV <strong>{{humanize(article['Views'])}}</strong> | visitors: <strong>{{humanize(article['Visitors'])}}</strong>, {{article['Returning vis.%']}}% returning | {{article['Avg. time formatted']}} min/visitor<br />
        Key referrers %: {{!article['Referrers report']}}<br />
        Devices %: mobile <strong>{{article['Mobile views%']}}</strong>, desktop <strong>{{article['Desktop views%']}}</strong><br />
        Social interactions: {{humanize(article['Social interactions'])}}</li>
        % end
    </ol>
    % if section != 'time':
    <p {{!p}}><small>Articles that include {{section}} in category tree</small></p>
    % end
</div>



